<h1 class="ui header">
	<i class="line chart icon"></i>
	<div class="content">
		{{model.place}}
		<div class="sub header">{{moment-format model.date "DD. MM. YYYY" "YYYY-MM-DD"}} | {{model.startTime}}</div>
	</div>
</h1>

<div class="ui huge label">
	<i class="users icon"></i> {{model.people}}
</div>

<div class="ui huge label">
	<i class="{{weatherIcon}} icon"></i> {{model.weather}}
</div>

 (co2Factor: {{model.peopleCo2Factor}} ppm/p)

{{link-to "Graf" "session.detail.index" class="ui button"}}
{{!-- {{link-to "Export" "session.detail.export" class="ui button"}} --}}

{{outlet}}
