
<div class="ui cards left-right">
{{#if months}}
	{{#each months as |month|}}
		{{month-item data=month selectedMonth=selectedMonth.number}}
	{{/each}}
{{/if}}
</div>
<div class="ui segment"><h1>Měření: {{liquid-bind selectedMonth.name use="toUp" class="inline-container"}}</h1>
	{{!-- <div class="ui celled list"> --}}
		{{#if sessions}}
		{{#liquid-with sessions as sessions use="crossFade"}}
		<div class="ui celled list">
			{{#each sessions as |session|}}
					{{!-- {{session.place}} | {{session.date}} --}}
					{{session-item data=session}}
			{{/each}}
		</div>
		{{/liquid-with}}
		{{/if}}
</div>
{{!-- </div> --}}
{{#if session.isAuthenticated}}
<h1 {{action "transformJSON"}}>Transform JSON!</h1>
<form {{action "newSession" on="submit"}}>
	<div class="ui form new-session segment">
		<h2 class="ui dividing header">Nové měření</h2>
		<div class="two fields">
			<div class="field">
			<label>Místo</label>
			{{selectedPlace}}
			{{ae-select content=places selection=selectedPlace action=(action (mut selectedPlace)) prompt="Select a state"}}
			</div>
			<div class="field">
				<label>Datum</label>
				{{date-picker date=selectedDate valueFormat="YYYY-MM-DD"}}
			</div>
		</div>
		<div class="two fields">
			<div class="field">
				<label>Počet lidí</label>
				{{input value=selectedPeople}}
			</div>
			<div class="field">
				<label>Počasí</label>
				{{input value=selectedWeather}}
			</div>
		</div>
		<button class="ui submit button">Přidat</button>
	</div>
</form>
{{/if}}
