<div class="ui segment">
	<div class="ui buttons">
		<div {{action "setChartValues" "light"}} class="ui yellow button {{unless lightValues.length 'disabled'}}">Světlo</div>
		<div {{action "setChartValues" "temp"}} class="ui red button {{unless tempValues.length 'disabled'}}">Teplota</div>
		<div {{action "setChartValues" "rh"}} class="ui blue button {{unless rhValues.length 'disabled'}}">Vlhkost</div>
		<div {{action "setChartValues" "co2"}} class="ui orange button {{unless co2Values.length 'disabled'}}">CO<sub>2</sub></div>
		<div {{action "setChartValues" "comfort"}} class="ui teal icon button {{unless comfortValues.length 'disabled'}}"><i class="smile icon"></i></div>
	</div>
	{{light-chart events=model.events xProperty='time' yProperty='value' externalData=externalChartValues content=chartValues color=chartColor xMin=0 xMax=90 yMin=chartMin yMax=chartMax}}
</div>

<div {{action "export"}} class="ui button">Export</div>


{{#if session.isAuthenticated}}

<div class="ui segment">
	<form {{action "import" on="submit"}} class="ui form">
		<h2 class="ui dividing header">Import dat</h2>
		<div class="field">
		<label>CSV data</label>
		{{textarea value=csv classNames="import"}}
		</div>
		<button class="ui submit button">Přidat</button>
	</form>
	<br>
	<div class="ui right aligned grid">
		<div {{action "dumpValues"}} class="ui right aligned huge red label">
			<i class="trash icon"></i> Vymazat data
		</div>
		<div {{action "dumpCurrentTypeValues"}} class="ui right aligned huge red label">
			<i class="trash icon"></i> Vymazat {{chartType}} data
		</div>
	</div>
	<button {{action "importExternalValues"}} class="ui button {{unless tempExtValues "green"}} {{unless model.startTime "disabled"}}">Importovat externí data</button>
	<button {{action "calculateComfort"}} class="ui button {{unless comfortValues "green"}} {{unless tempValues "disabled"}}">Spočítat komfort</button>
</div>

{{outlet}}

<div class="ui two column grid">
	<div class="column">
		<div class="ui form segment">
			<form {{action "addEvent" on="submit"}}>
				<h2 class="ui dividing header">Nová událost</h2>
				<div class="three fields">
					<div class="field">
						<label>Začátek (minuta)</label>
						{{input value=from}}
					</div>
					<div class="field">
						<label>Konec (minuta)</label>
						{{input value=to}}
					</div>
					<div class="field">
						<label>Popis</label>
						{{input value=content}}
					</div>
				</div>
				<button class="ui button submit">Přidat</button>
			</form>
		</div>
	</div>
	
	<div class="column">
		<div class="ui form segment {{if model.isDirty 'red'}}">
			<form {{action "updateSession" on="submit"}}>
				<h2 class="ui dividing header">Parametry měření</h2>
				<div class="three fields">
					<div class="field">
					<label>Místo</label>
					{{ui-dropdown content=places value=model.place prompt="Vyber učebnu:"}}
					</div>
					<div class="field">
						<label>Datum</label>
						{{date-picker date=model.date valueFormat="YYYY-MM-DD"}}
					</div>
					<div class="field">
						<label>Začátek měření</label>
						{{input value=model.startTime}}
					</div>
				</div>
				<div class="two fields">
					<div class="field">
						<label>Počet lidí</label>
						{{input value=model.people}}
					</div>
					<div class="field">
						<label>Počasí</label>
						{{input value=model.weather}}
					</div>
				</div>
				<button class="ui submit button {{if model.isDirty 'red'}}">Aktualizovat</button>
			</form>
		</div>
	</div>
</div>
{{/if}}
