<h1>{{placeName}} v průběhu roku</h1>
<div class="ui buttons">
	<button {{action "switchChartType" "people"}} class="ui teal icon button"><i class="users icon"></i></button>
	<button {{action "switchChartType" "light"}} class="ui yellow icon button"><i class="idea icon"></i></button>
	<button {{action "switchChartType" "temp"}} class="ui red icon button">°C</button>
	<button {{action "switchChartType" "rh"}} class="ui blue icon button"><i class="theme icon"></i></button>
	<button {{action "switchChartType" "co2"}} class="ui orange icon button">CO<sub>2</sub></button>
	<button {{action "switchChartType" "tempExt"}} class="ui black icon button">TempExt</button>
	<button {{action "switchChartType" "rhExt"}} class="ui icon button">rhExt</button>
	<button {{action "switchChartType" "rhDiff"}} class="ui white icon button">RH Diff</button>
	<button {{action "switchChartType" "tempDiff"}} class="ui white icon button">Temp Diff</button>
	<button {{action "switchChartType" "co2PerPerson"}} class="ui purple icon button">CO2 per person</button>
</div>
{{chartSettings.max}}
{{chartSettings.min}}
{{light-chart showSession='true' xMin=1 xMax=364 color=chartSettings.color content=model xProperty='dayNumber' yProperty=chartSettings.yProperty yMin=chartSettings.min yMax=chartSettings.max}}
{{!-- {{#each model as |session|}}
	{{session.dayNumber}} <br>
{{/each}} --}}
<div class="months">
	{{#each monthNames as |month|}}
	  <div class="month">{{month}}</div>
	{{/each}}
</div>
<div class="ui header">
	<h2>Export dat</h2>
	<div {{action "export"}} class="ui button">Export</div>
</div>
{{#if allValuesLoaded}}
{{!-- {{light-chart showSession='true' xMin=1 xMax=364 color='#000' content=model xProperty='dayNumber' yProperty='tempExtValues.lastObject.value' yMin=-10 yMax=30}} --}}
{{/if}}