{{link-to "Scatter plot" "scatter" class="ui button"}}
<div class="ui cards">
	{{#each model as |place|}}
		<div class="card">
			<div class="content">
				<div class="header">{{#link-to 'place.detail' place}}{{place}}{{/link-to}}</div>
			</div>
		</div>
	{{/each}}
</div>
