{{#each primaryPoints as |value index|}}
{{!-- {{primaryPoints.length}} --}}
	<div style={{value.style}} class="point">
		<div style={{backgroundStyle}} class="body">
			<b>{{value.yLabel}} {{value.unit}}</b> <br>
			{{#if showSession}}
				{{!-- <div class="ui divider"></div> --}}
				{{moment-format value.date "DD. MM. YYYY" "YYYY-MM-DD"}} <br>
					{{value.weather}} <br>
			{{/if}}
			<div class="ui divider"></div>
			<div class="ui buttons">
				{{#if session.isAuthenticated}}
						<button class="ui red icon button"><i {{action "delete" value}} class="close icon"></i></button>
				{{/if}}
				{{#if showSession}}
				{{#link-to 'session.detail' value.id classNames="ui blue icon button"}}
					<i class="unhide icon "></i>
				{{/link-to}}
				{{/if}}
			</div>
		
		</div>
	</div>
{{/each}}
{{#each externalData as |value|}}
{{!-- {{log externalData}} --}}
	<div style="left:{{value.cssX}};bottom:{{value.cssY}}" class="point">
		<div style="border: 2px solid {{color}}" class="body">
			<b>{{value.yLabel}} {{value.unit}}</b> <br>
			(venkovni data - Praha 4. zdroj: Wunderground API)
		{{#if session.isAuthenticated}}
			<hr>
		<div class="ui buttons">
			<button class="ui button red"><i {{action "delete" value}} class="icon close"></i></button>
		</div>
		{{/if}}
		</div>
	</div>
{{/each}}
{{#each events as |event index|}}
	{{event-line data=event index=index}}
{{/each}}
<div class="y axis" data-content="Pop?">
	<div class="marker min">{{yMin}}</div>
	<div class="marker middle">{{yMiddle}}</div>
	<div class="marker max">{{yMax}}</div>
</div>
<div class="x axis">
	<div class="marker min">{{xMin}}</div>
	<div class="marker middle">{{xMiddle}}</div>
	<div class="marker max">{{xMax}}</div>
</div> 
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" direction="ltr" width='900' height='600' viewBox="0 0 101 100" preserveAspectRatio="none">

		<polyline class="line" {{action 'exportMedian'}} points="0,{{medianY}} 90,{{medianY}}" stroke="grey" stroke-width="0.5" style="fill:none;" />
		<polyline class="line" points="{{polyLinePoints}}" stroke="{{color}}" stroke-width="1" style="fill:none;" />
		<polyline class="line" points="{{extPolyLinePoints}}" stroke="grey" stroke-width="1" style="fill:none;" />
		<text x="1" y="{{medianY}}" font-size="2">{{median}}</text>
	
</svg>


