<div class="content">
	<div class="header">{{data.name}}</div>
	<div class="description">
		Počet Měření: {{data.sessionsInMonth}}

		{{#ui-progress class="indicating" percent=percent}}
			<div class="bar" style="transition-duration: 300ms; width: 50%;"></div>
			<div class="label">{{percent}}%</div>
		{{/ui-progress}}
	</div>
</div>