<div class="line y">
	<div class="max">{{maxY}}</div>
	<div class="min">{{minY}}</div>
	<div class="label">{{yProperty}}</div>
</div>
<div class="plot-area">
	{{#each points as |point|}}
	{{#if point.y}}
		  <div style="left:{{point.x}}%;bottom:{{point.y}}%" class="point">
		  	<div class="info">
		  		<strong>{{moment-format point.model.date "DD. MM. YYYY" "YYYY-MM-DD"}}</strong>  <br>
		  		{{point.model.place}}  <br>
		  		x: {{get point.model xProperty}}  <br>
		  		y: {{get point.model yProperty}} <br>
		  		{{link-to "Detail" "session.detail" point.model}}
		  	</div>
		  </div>
	  {{/if}}
	{{/each}}
{{!-- <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
	<line x1={{trendlinePoints.x1}} y1={{trendlinePoints.y1}}
		  x2={{trendlinePoints.x2}} y2={{trendlinePoints.y2}}
		  stroke="black"
		  stroke-width="1" />
</svg> --}}
</div>
<div class="line x">
	<div class="max">{{maxX}}</div>
	<div class="label">{{xProperty}}</div>
	<div class="min">{{minX}}</div>
</div>
{{!-- [{{trendlinePoints.x1}}, {{trendlinePoints.y1}}] [{{trendlinePoints.x2}}, {{trendlinePoints.y2}}] --}}
