{{#if session.isAuthenticated}}
<div {{action "delete"}} class="right floated compact ui button red">
	<i class="remove icon"></i>
</div>
{{/if}}
{{#if data.lightMedian}}
	<div class="right floated compact ui button yellow">
		{{data.lightMedian}} lux
	</div>
{{/if}}
{{#if data.tempMedian}}
	<div class="right floated compact ui button red">
			{{data.tempMedian}} °C
	</div>
{{/if}}
{{#if data.rhMedian}}
	<div class="right floated compact ui button blue">
			{{data.rhMedian}} %
	</div>
{{/if}}
{{#if data.co2Median}}
	<div class="right floated compact ui button orange">
			{{data.co2Median}} ppm
	</div>
{{/if}}
<div class="content">
	<h3 class="ui header">
		{{#link-to 'session.detail' data}}{{data.place}}{{/link-to}}
		<div class="date">
			{{moment-format data.date "DD. MM. YYYY" "YYYY-MM-DD"}}
		</div>
	</h3>
</div>
