{{#if session.isAuthenticated}}
	<div {{action "delete"}} class="ui right floated compact red button"> <i class="remove icon"></i> </div>
{{/if}}
<div class="content">
	{{data.time}} | {{data.value}} ({{data.type}})
</div>

