<div class="ui menu fixed navbar inverted">
	{{#link-to 'session.index' classNames='brand item'}}Měření{{/link-to}}
	{{#link-to 'place.index' classNames='item'}}Statistiky{{/link-to}}
	{{#link-to 'edit' classNames='item'}}Edit{{/link-to}}
	<div class="right menu">
	{{#if session.isAuthenticated}}
		Admin mode: on
		{{else}}
		<a class="item" {{action "toggleLoginForm"}}>Login</a>
	{{/if}}
	</div>
</div>
<div class="ui segment page">
	<main>
		{{#liquid-if showLoginForm use="toUp"}}
		<form {{action "login" on="submit"}} class="ui form">
			<div class="three fields">
				<div class="field">
					<label>Email</label>
					{{input value=email}}
				</div>
				<div class="field">
					<label>Password</label>
					{{input type="password" value=password}}
				</div>
				<div class="field">
					<label>&nbsp;</label>
					<input type="submit" class="ui button">
				</div>
			</div>
		</form>
		{{/liquid-if}}
		{{outlet}}
	</main>
</div>
