<div class="ui form">
  <table>
    <tr>
      <th>Mistnost</th>
      <th>Datum</th>
      <th>Pocasi</th>
      <th>Cas lekce</th>
      <th>Pocet lidi</th>
      <th>Venkovni teplota (cely den)</th>
      <th>Venkovni RH (cely den)</th>
      <th>Wunderground</th>
      <th></th>
    </tr>
    {{#each model as |session|}}
      <tr>
        <td>{{input value=session.place}}</td>
        <td>{{input value=session.date}}</td>
        <td>{{input value=session.weather}}</td>
        <td>{{input value=session.startTime}}</td>
        <td>{{input value=session.people}}</td>
        <td>{{input value=session.tempExtWholeDay}}</td>
        <td>{{input value=session.rhExtWholeDay}}</td>
        <td><a target="_blank" href="https://czech.wunderground.com/history/airport/LKKB/{{session.wundergroundDate}}/DailyHistory.html?req_city=Praha+Kbely&req_state=&req_statename=%C4%8Cesko&reqdb.zip=00000&reqdb.magic=1&reqdb.wmo=11567#observation_details">Wunderground/Praha-Kbely/{{session.wundergroundDate}}</a></td>
        <td><div {{action "save" session}} class="ui {{if session.isDirty "red" "green"}} button">Ulozit</div></td>
      </tr>
    {{/each}}
  </table>
</div>