{{outlet}}

<div class="ui form">
	<div class="item">
		<label>Temperature (C):</label>
		{{input type="number" value=temperature}}
	</div>
	<div class="item">
		<label>Relative humidity (%):</label>
		{{input min="0" max="100" type="number" value=relativeHumidity}}
	</div>
</div>

Saturation vapour pressure: {{satVapourPressure2}} kPa <br>
Absolute humidity: {{absoluteHumidity}} g/m3
