<h2>Moznosti</h2>
{{ae-select content=options selection=xProperty action=(action (mut xProperty)) prompt="Select a state"}}
{{ae-select content=options selection=yProperty action=(action (mut yProperty)) prompt="Select a state"}}
<h2>Statistiky pro {{yProperty}}</h2>
<table class="ui celled table">
  <tr>
    <th></th>
    <th>n of sessions</th>
    <th>Median</th>
    <th>Max</th>
    <th>Min</th>
  </tr>
  <tr>
    <td>Summer</td>
    <td>{{cleanSummerData.length}}</td>
    <td>{{summerMedian}}</td>
    <td>{{summerMax}}</td>
    <td>{{summerMin}}</td>
  </tr>
  <tr>
    <td>Winter</td>
    <td>{{cleanWinterData.length}}</td>
    <td>{{winterMedian}}</td>
    <td>{{winterMax}}</td>
    <td>{{winterMin}}</td>
  </tr>
  <tr>
    <td>Total</td>
    <td>{{cleanData.length}}</td>
    <td>{{xMedian}} ({{thirdQuartile}} - {{firstQuartile}} = {{iqr}})</td>
    <td>{{max}}</td>
    <td>{{min}}</td>
  </tr>
</table>

<h2>Mistnosti</h2>
<div class="ui three column grid">
  <div class="column">
    {{#each pickedPlaces as |place|}}
      <label> {{place.name}}
      {{ui-checkbox checked=place.toggled  onChange=(action "togglePlace" place)}}
      </label>
      <br class="odd">
    {{/each}}
  </div>
  <div class="column">
  <h2>Udalosti</h2>
    <label>Rozsvicena svetla
      {{ui-checkbox checked=lightsOn}}
    </label> <br>
    <label>Zhasnuta svetla
      {{ui-checkbox checked=lightsOff}}
    </label> <br>
    <label>Otevrena okna
      {{ui-checkbox checked=windowsOpened}}
    </label> <br>
    <label>Zavrena okna
      {{ui-checkbox checked=windowsClosed}}
    </label> <br>
    <label>Otevrene dvere
      {{ui-checkbox checked=doorsOpened}}
    </label> <br>
    <label>Zavreene dvere
      {{ui-checkbox checked=doorsClosed}}
    </label>
  </div>
  <div class="column">
    <h2>Pocasi</h2>
      {{#each weathers as |weather|}}
        <label>
          {{weather.name}}
          {{ui-checkbox checked=weather.toggled}}
        </label> <br>
      {{/each}}
    </div>
</div>

{{scatter-plot
	model=filteredModels
	xProperty=xSettings.propertyName
	minX=xSettings.min
	maxX=xSettings.max
	yProperty=ySettings.propertyName
	minY=ySettings.min
	maxY=ySettings.max
	}}

<div style="margin-bottom:50px" class="ui divider"></div>
  <div {{action "export"}} class="ui button">Export</div>
