<svg xmlns="http://www.w3.org/2000/svg" version="1.1" direction="ltr" width="900" height="600" viewBox="0 0 100 100" preserveAspectRatio="none">
  <defs>
        <marker id="LineMarker" refX="12" refY="6" markerWidth="12" markerHeight="12" stroke="green" stroke-width="2" fill="none" orient="auto">
            <circle cx="6" cy="6" r="5"></circle>
        </marker>
    </defs>

    <polyline class="line" marker-end="url(#LineMarker)" marker-start="url(#LineMarker)" stroke="#F2C61F" stroke-width="1" style="fill:none;" points="1.1,27.33333333333333 2.2,24.66666666666667 3.3000000000000003,24 4.4,24 5.5,24.66666666666667 6.6000000000000005,25.33333333333333 7.700000000000001,28.666666666666657 8.8,28 9.9,27.33333333333333 11,25.33333333333333 12.100000000000001,26 13.200000000000001,26.66666666666667 14.3,26.66666666666667 15.400000000000002,27.33333333333333 16.5,27.33333333333333 17.6,29.33333333333333 18.700000000000003,29.33333333333333 19.8,28.666666666666657 20.900000000000002,30 22,29.33333333333333 23.1,30 24.200000000000003,30.666666666666657 25.3,31.33333333333333 26.400000000000002,31.33333333333333 27.500000000000004,26.66666666666667 28.6,26 29.700000000000003,25.33333333333333 30.800000000000004,27.33333333333333 31.900000000000002,26.66666666666667 33,28.666666666666657 34.1,30 35.2,29.33333333333333 36.300000000000004,28.666666666666657 37.400000000000006,27.33333333333333 38.5,30.666666666666657 39.6,30 40.7,30 41.800000000000004,30.666666666666657 42.900000000000006,30.666666666666657 44,30 45.1,30.666666666666657 46.2,31.33333333333333 47.300000000000004,31.33333333333333 48.400000000000006,34 49.50000000000001,34 50.6,34 51.7,34 52.800000000000004,34 53.900000000000006,32 55.00000000000001,31.33333333333333 56.1,32.66666666666667 57.2,32.66666666666667 58.300000000000004,32.66666666666667 59.400000000000006,33.33333333333334 60.50000000000001,34 61.60000000000001,34 62.7,34 63.800000000000004,34 64.9,36 66,34.66666666666667 67.10000000000001,36.66666666666667 68.2,38.66666666666667 69.30000000000001,37.33333333333333 70.4,36 71.5,35.33333333333334 72.60000000000001,36 73.7,38 74.80000000000001,38 75.9,38 77,40 78.10000000000001,38.66666666666667 79.2,41.333333333333336 80.30000000000001,42.666666666666664 81.4,40.666666666666664 82.5,40.666666666666664 83.60000000000001,41.333333333333336 84.7,40.666666666666664 85.80000000000001,43.333333333333336 86.9,41.333333333333336 88,42.00000000000001 89.10000000000001,43.99999999999999 90.2,37.33333333333333 91.30000000000001,36.66666666666667 92.4,36.66666666666667 93.50000000000001,50 94.60000000000001,41.333333333333336 95.7,41.333333333333336 96.80000000000001,43.99999999999999 97.9,45.333333333333336 99.00000000000001,45.333333333333336 "></polyline>

      
    <polyline id="ember1136" class="ember-view" points="0,1 90,1" stroke="#000" style="fill:none;" stroke-width="0.5" marker-start="url(#LineMarker)" marker-end="url(#LineMarker)">
<polyline class="line" stroke-width="0.5" style="fill:none;" points="0,0 90,0" stroke="#900"></polyline>
<text font-size="2" x="90" y="0">otevřené okno</text>
<!---->
</polyline>
    <text font-size="2" x="90" y="0">otevřené okno</text>
      
    <polyline id="ember1132" class="ember-view" points="0,3 90,3" stroke="#000" style="fill:none;" stroke-width="0.5" marker-start="url(#LineMarker)" marker-end="url(#LineMarker)">
<polyline class="line" stroke-width="0.5" style="fill:none;" points="0,1 90,1" stroke="#901"></polyline>
<text font-size="2" x="90" y="1">3 zatažené okna</text>
<!---->
</polyline>
    <text font-size="2" x="90" y="1">3 zatažené okna</text>
  
</svg>
