@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,latin-ext);


@import 'components/light-chart';
@import 'components/scatter-plot';

body {
	/*background: #000;*/
	* {
		font-family:'Ubuntu Condensed';
	}
}

main {
	padding: 50px 0;
}

.column {
	&.starter {
		padding-top: 50px;
	}
}

.ui.menu {
	.item {
		padding: 15px;
		font-size: 20px;
	}
}

.new-session {
	width:500px;
}

.date {
	font-size:90%;
	color:darkgrey;
}

.clickable {
	cursor: pointer;
	&.card:hover {
		box-shadow: 0px 3px 0px 0px transparentize(#d95c5c,0.4), 0px 0px 0px 1px #d4d4d5;
	}
}

.inline-container {
	display: inline-block;
	vertical-align: top;
}

.left-right {
	position: relative;
	top: 5px;
	left: 5px;
}

.liquid-child {
	// padding: 5px;
}

.months {
	width: 914px;

	.month {
		display: inline-block;
		margin-right: -4px;
		border: 1px solid transparentize(grey, 0.6);
		width: calc(100%/12);
		text-align: center;
	}
}