.light-chart {
	width: 900px;
	height: 600px;
	position: relative;
	margin-top: 10px;
	border-bottom: 2px solid darkgrey;
	border-left:2px solid darkgrey;
	//overflow: hidden;
	hr {

	}
	.point {
		position: absolute;
		height: 8px;
		width: 8px;
		border-radius: 50%;
		background: white;
		border:1px solid black;
		z-index: 5;
		opacity:0;
		-webkit-animation: 0.3s fadeIn forwards;
		-webkit-animation-delay: 0.5s;
		.icon.close {
			&:hover {
				color:white;
				cursor: pointer;
			}
		}
		.body {
			width: 100px;
			min-height: 60px;
			padding: 3px;
			position: absolute;
			bottom:-60px;
			right: -100px;
			//background: lighten(red, 30%);
			background: white;
			// display:none;
			box-shadow: 2px 2px 2px lighten(black,20%);
			border:1px solid transparentize(black,0.8);
			opacity:0;
			visibility:hidden;
			//transform:scale(0.5,0.5) translateX(-50px) translateY(-50px);
			transition:0.3s opacity;

		}
		&:hover {
			z-index: 6;
			.body {
				display:block;
				opacity:1;
				visibility:visible;
				//transform:scale(1,1) translateX(0) translateY(0);
			}
		}
	}
}

.float-right {
	float:right;
	width: 14px;
	padding: 2px;
	cursor: pointer;
}

.line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition:0.5s all;
  -webkit-animation: dash 5s linear forwards;
  -webkit-animation-delay:1s;
}

@-webkit-keyframes dash {
	 from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fadeIn {
	from {opacity:0}
	to {opacity:1}
}

.axis {
	position: absolute;
	z-index: 3;
	background: transparentize(grey,0.5);
	// border:1px solid black;

	&:hover {
		z-index: 4;
	}

	.marker {
		position: absolute;
		font-weight: bold;
	}

	&.y {
		width: 40px;
		height: 100%;
		left: 0;
		top: 0;

		.marker {
			width: 100%;
			text-align: center;

			&.min {
				bottom: -2px;
				border-bottom: 2px solid darkgrey;
			}

			&.middle {
				bottom:50%;
				border-bottom: 2px solid darkgrey;

			}

			&.max {
				border-top: 2px solid darkgrey;
			}
		}
	}

	&.x {
		height: 40px;
		width: 100%;
		bottom: 0;

		.marker {
			height: 100%;
			padding:0 2px;
			text-align: center;
			line-height: 40px;
			vertical-align: middle;

			&.min {
				border-left:2px solid darkgrey;
				left:-2px;
			}

			&.middle {
				left:50%;
				border-right:2px solid darkgrey;
			}

			&.max {
				right: 0;
				border-right:2px solid darkgrey;
			}
		}
	}


}

.event-line {
	position: absolute;
	height: 4px;
	border-bottom:4px solid transparentize(black,0.5);
	z-index: 1;
	.body {
		padding: 0;
		background: lighten(grey,20%);
		border:0;
		display: inline-block;
		position: relative;
		max-height: 0;
		overflow: hidden;
		top: 4px;
		transition:0.2s all;
	}
	&:hover {
		z-index: 2;
		.body {
			max-height:50px;
			padding: 10px;
			border:4px solid grey;
		}
	}
}

polyline,svg {
	z-index: 5;
}