.scatter-plot {

	$legend-width: 30px;

	width: 900px;
	height: 600px;
	position: relative;
	margin-top: 10px;



	.plot-area {
		display: inline-block;
		width: calc(100% - 34px);
		height:600px - $legend-width;
		position: relative;
		vertical-align: top;
		border-bottom: 2px solid darkgrey;
		border-left:2px solid darkgrey;

	}

	.point {
		border: 1px solid black;
		border-radius: 50%;
		position: absolute;
		width: 8px;
		height: 8px;
		background: transparentize(red, 0.2);
		z-index: 2;

		.info {
			background:white;
			visibility: hidden;
		    border: 2px solid red;
		    width: 150px;
		    padding: 5px;
		    position: relative;
		    top: 5px;
		    left: 5px;
		}

		&:hover {
			z-index: 3;
			.info {
				visibility: visible;
			}
		}
	}

	.line {
		.max,.min {
			position: absolute;
			line-height: initial;
		}

		&.x {
			width: 100%;
			height: $legend-width;
			text-align: center;
			position: relative;

			.min {
				left: $legend-width;
				top: -15px;
			}

			.max {
				right: 0;
				top: -15px;
			}
		}
		&.y {
			display: inline-block;
			width: $legend-width;
			height: 100%;
			line-height: 600px;
			vertical-align: top;

			.label {
				transform:rotate(-90deg);
				vertical-align: middle;
				display: inline-block;
			}

			.max {
				top: 0;
			}

			.min {
				bottom: $legend-width;
			}
		}
	}

	svg {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
	}
}